* body {
  background-color: #ffffff;
  color: #757575;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logotype {
  color: #2196f3;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: block;
}

.logotype_dark {
  color: #000000;
}

.logotype_white {
  color: #ffffff;
}

.container {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section__footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (max-width: 1199px) {
  .container,
  .footer__container {
    max-width: 768px;
  }
  .pros .container {
    margin-top: 60px;
    padding-bottom: 60px;
  }
  .section__team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section__clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section__footer {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
  .section__clients {
    padding-top: 60;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container,
  .footer__container {
    width: 1200px;
  }
  .pros .container {
    margin-top: 94px;
  }
  .section__work,
  .section__team,
  .section__clients,
  .section__portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  background-color: #2196f3;
  padding: 10px 31px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
}

.hero__title {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.pros__subtitle,
.work__subtitle,
.footer__subtitle {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__occupation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
}

.pros__description,
.footer__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.section__title_work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section__title_team,
.section__title_clients {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.portfolio .galery__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio .galery__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
  .section__title_team,
  .section__title_clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__link:hover .social-list__svg, .social-list__link:focus .social-list__svg {
  fill: #ffffff;
}

.social-list__svg {
  width: 20px;
  height: 20px;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .container {
  border-bottom: 1px solid #ececec;
}

.navigation__item_current {
  color: #2196f3;
  position: relative;
}

.navigation__item_current::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: translateY(8px);
}

@media screen and (max-width: 767px) {
  .header .container {
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
  }
  .mobile__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__button {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  .header__button:hover .header__svg,
  .header__button:focus .header__svg {
    fill: #2196f3;
  }
  .logotype {
    display: inline-flex;
  }
  .header__svg {
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    fill: #212121;
  }
  .header__button .header__svg_cross {
    display: none;
  }
  .header__button.is-open .header__svg_cross {
    display: block;
  }
  .header__button.is-open .header__svg_line {
    display: none;
  }
  .drop__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 453px;
    z-index: 2;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
    padding: 60px 15px;
  }
  .drop__menu.is-open {
    display: block;
  }
  .navigation__main {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__main .navigation__iten .link:hover,
  .navigation__main .navigation__item .link:focus {
    color: #2196f3;
  }
  .navigation__main .navigation__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .navigation__main .navigation__item:last-child {
    margin-bottom: 60px;
  }
  .contact.list {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 16px;
  }
  .contact__svg {
    fill: #757575;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile__menu {
    display: flex;
    align-items: center;
    min-height: 80px;
    justify-content: space-between;
  }
  .drop__menu {
    display: flex;
    align-items: center;
  }
  .navigation__main {
    display: flex;
    margin-right: 85px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigatin__main .link:hover,
  .navigation__main .link:focus {
    color: #2196f3;
  }
  .contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #757575;
  }
  .contact__svg {
    fill: #757575;
  }
  .navigation__item_current::before {
    transform: translateY(33px);
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
  }
  .drop__menu {
    justify-content: space-between;
    flex-grow: 1;
  }
  .header .logotype {
    margin-right: 93px;
  }
  .contact__link:hover,
  .contact__link:focus {
    color: #2196f3;
  }
  .contact__link:hover .contact__svg,
  .contact__link:focus .contact__svg {
    fill: #2196f3;
  }
  .contact__svg {
    margin-right: 10px;
  }
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .hero {
    width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/header-mobile-min.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/header-mobile@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/header-tablet-min.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/header-tablet@2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desctop/hero-desctop-min.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desctop/hero-desctop@2x-min.jpg);
  }
}

.hero__title {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
  }
}

.hero .button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pros__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
}

.pros__item:nth-child(1)::before {
  background-image: url("../img/svg/antenna.svg");
}

.pros__item:nth-child(2)::before {
  background-image: url("../img/svg/clock.svg");
}

.pros__item:nth-child(3)::before {
  background-image: url("../img/svg/diagram.svg");
}

.pros__item:nth-child(4)::before {
  background-image: url("../img/svg/astronaut.svg");
}

.pros__subtitle {
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .pros__item {
    width: 100%;
  }
  .pros__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .pros__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .pros__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .pros__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

@media screen and (max-width: 1199px) {
  .pros__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

.work__list {
  display: flex;
}

.work__item {
  position: relative;
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.work__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.section__title_work {
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .section__work {
    display: none;
  }
}

.section__team {
  background: #f5f4fa;
}

.team__description {
  display: block;
  width: 100%;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  background-color: #ffffff;
}

.team__occupation {
  margin-top: 10px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1199px) {
  .section__title_team {
    margin-bottom: 30px;
  }
  .team__description {
    padding-bottom: 24px;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team__item {
    width: 354px;
  }
  .team__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team__item {
    width: 100%;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    justify-content: space-between;
  }
  .team__item {
    width: 270px;
  }
  .section__title_team {
    margin-bottom: 50px;
  }
  .team__description {
    padding-bottom: 30px;
  }
}

.section__title_clients {
  margin-bottom: 30px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients__link {
  display: flex;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover {
  border: 1px solid #2196f3;
}

.clients__link:hover .clients__svg {
  fill: #2196f3;
}

.clients__svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .section__title_clients {
    margin-bottom: 30px;
  }
  .clients__link {
    width: 226px;
  }
  .clients__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .section__title_clients {
    margin-bottom: 30px;
  }
  .clients__link {
    width: 210px;
  }
  .clients__item {
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .clients__list {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__subtitle {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__contacts .logotype {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__link_grey {
  color: rgba(255, 255, 255, 0.6);
}

.footer__social-list .social-list__svg {
  fill: #ffffff;
}

.footer__social-list .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__social-list .social-list__link:hover, .footer__social-list .social-list__link:focus {
  background-color: #2196f3;
}

.footer .social-list__svg {
  fill: #ffffff;
}

.footer__input {
  border: none;
  background-color: transparent;
  outline: none;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__sign-up .button {
  position: relative;
  text-align: left;
  padding-left: 28px;
  letter-spacing: 0.06em;
}

.footer__svg {
  position: absolute;
  fill: #ffffff;
  right: 28px;
  top: 11px;
}

@media screen and (max-width: 767px) {
  .section__footer {
    width: 100%;
  }
  .footer__container {
    text-align: center;
  }
  .footer__social-list,
  .footer__sign-up {
    margin-top: 60px;
  }
  .footer__input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .section__footer {
    width: 100%;
  }
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__contacts {
    text-align: center;
    width: 50%;
    margin-bottom: 60px;
  }
  .footer__social-list {
    display: block;
    width: 50%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 60px;
  }
  .footer__sign-up {
    display: block;
    max-width: 500px;
    text-align: center;
    margin-top: 5px;
  }
  .footer__input {
    width: 450px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    background-color: #2f303a;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__container {
    width: 1200px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer__contacts, .footer__social-list {
    width: calc(45% / 2);
    align-self: flex-start;
    text-align: start;
  }
  .footer__sign-up {
    width: 55%;
    align-self: flex-start;
    text-align: start;
    margin-left: 0;
  }
  .footer__form {
    display: inline-flex;
    justify-content: flex-start;
  }
  .footer__input {
    width: 300px;
    margin-right: 10px;
  }
  .footer__social-list .social-list {
    justify-content: flex-start;
    padding-right: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__svg_x {
  fill: #2196f3;
}

.modal__svg_x {
  display: block;
  margin: auto;
}

.modal__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 40px auto 30px auto;
}

.modal .button {
  margin: 30px auto 40px auto;
}

.modal__link {
  color: #2196f3;
}

.modal__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-color: transparent;
}

.modal__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
}

.modal__input {
  width: 448px;
  height: 40px;
  border: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover, .modal__input:focus {
  border-color: #2196f3;
}

.modal__input:hover + .modal__svg, .modal__input:focus + .modal__svg {
  fill: #2196f3;
}

.modal__input_comment {
  width: 448px;
  height: 120px;
  border: none;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  transition: aborder-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input_comment:hover {
  border-color: #2196f3;
}

.modal__input_comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__container {
  position: relative;
}

.modal__label {
  display: block;
}

.modal__block_checkbox {
  position: relative;
}

.modal__label_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__label_checkbox::before {
  content: "";
  background-image: url(../img/svg/block.svg);
  width: 16px;
  height: 15px;
  fill: #212121;
  margin-right: 6px;
}

.modal__input_checkbox:checked + .modal__label_checkbox::before {
  background-image: url(../img/svg/iconcheck.svg);
}

.modal .modal__subtitle,
.modal .modal__form {
  margin-left: 40px;
  margin-right: 40px;
}

@media screen and (max-width: 1199px) {
  .backdrop {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-y: scroll;
  }
  .modal {
    max-width: 100%;
  }
  .modal__input, .modal__input_comment {
    width: 100%;
  }
  .modal__label,
  .modal__label_comment,
  .modal__label_checkbox {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
  }
}
/*# sourceMappingURL=main.css.map */