.hero__title {
	font-weight: 900;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: $white-color;
}
.pros__subtitle,
.work__subtitle,
.footer__subtitle {
	color: $title-color;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.143;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}
.team__subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.187;
	letter-spacing: 0.03em;
	color: #212121;
}
.team__occupation {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.187;
	letter-spacing: 0.03em;
	color: #757575;
}

.pros__description,
.footer__item {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
}
.footer__address {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.section__title_work {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.67;
	text-align: center;
	letter-spacing: 0.03em;
	color: $title-color;
}
.section__title_team,
.section__title_clients {
	font-weight: 700;
	font-size: 28px;
	line-height: 1.178;
	text-align: center;
	letter-spacing: 0.03em;
	color: $title-color;
}

.portfolio {
	.galery__subtitle {
		font-weight: 700;
		font-size: 18px;
		line-height: 2;
		letter-spacing: 0.06em;
		color: $title-color;
		margin-bottom: 4px;
	}
	.galery__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 1.55;
		letter-spacing: 0.03em;
		color: #ffffff;
	}
}

// ===============TABLET=================================
@media screen and (max-width: 1199px) {
	.hero__title {
		font-size: 26px;
		line-height: 1.62;
	}
}
// ================DESCTOP===============================
@media screen and (min-width: 1200px) {
	.hero__title {
		font-size: 44px;
		line-height: 1.36;
	}

	.section__title_team,
	.section__title_clients {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.67;
	}
}
