.container {
	display: block;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}
.section__footer {
	background-color: $bcg-dark-color;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 60px;
	padding-top: 60px;
}

@media screen and (max-width: 1199px) {
	.container,
	.footer__container {
		max-width: 768px;
	}
	.pros .container {
		margin-top: 60px;
		padding-bottom: 60px;
	}
	.section__team {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.section__clients {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.section__footer {
		max-width: 768px;
	}
}

@media screen and (max-width: 767px) {
	.container,
	.footer__container,
	.portfolio {
		max-width: 480px;
		margin-right: auto;
		margin-left: auto;
	}
	.section__clients {
		padding-top: 60;
		padding-bottom: 60px;
	}
	.section__footer {
		width: 480px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (min-width: 1200px) {
	.container,
	.footer__container {
		width: 1200px;
	}
	.pros .container {
		margin-top: 94px;
	}
	.section__work,
	.section__team,
	.section__clients,
	.section__portfolio {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
